.about__subtitle {
  text-align: center;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__text {
  span {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: normal;
    color: @yellow;
    text-transform: uppercase;
  }
}

.about__block {
  width: 50%;
}
