.weather {
  margin-left: auto;
  
  p {
    margin: 0;
  }
}

.weather__value {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  
  span {
    margin-right: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: @yellow;
  }
}